.books{
  margin-top: 100px;
  text-align:center;
  display:inline-block;
}

.book{
  margin: 5px;
  padding: 2px;
  height: 300px;
  width:200px;
  border: solid 1px black;
  background:#FFFFB2;
  overflow: scroll;
}

.book-title {
  font-size: x-large;
  margin-bottom: 5px;
  max-width: 20;
}

.book-author {
  font-size: medium;
  margin-bottom: 5px;
}

form {
  font-family: 'Oleo Script', cursive;
  font-size:18px; 
  text-align:center;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 40px;
}

header {
  background:#FFFFB2;
  text-align:center;
  padding:2px;
}

ul {
  list-style-type: none;
  text-align:center;
}







