.books{
  margin-top: 100px;
}
.book{
  margin: 10px;
  height: 250px;
  width: 200px;
  border: solid 1px black;
  word-break: break-all;
  background:#FFFFB2;
}

.book-title {
  font-size: x-large;
  margin-bottom: 5px;
  max-width: 20;
}

.book-author {
  font-size: medium;
  margin-bottom: 20px;
}

form {
  font-family: 'Oleo Script', cursive;
  font-size:18px;
  /*color:#7CAFA8;*/
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 40px;
  /*color:#32727C;*/
}

button {
  /*color:#32727C;*/
}

.container {
  text-align:center;
}

header {
  background:#FFFFB2;
  text-align:center;
  padding:2px;
}




